inithooks: dialog_wrapper.Dialog.get_email() rejects some valid e-mail addresses

The regular expression that is used by get_email() in dialog_wrapper.Dialog (https://github.com/turnkeylinux/inithooks/blob/304c6a4a1e830a12959c1d1945e94a377ed92c34/bin/dialog_wrapper.py#L9) bears only a cursory relationship to email address validation. It accepts both invalid addresses (though this case is rather byzantine) and rejects valid addresses (which is a much bigger issue).

### Steps to reproduce:
1. Install a turnkey appliance that uses Dialog.get_email(), such as https://github.com/turnkeylinux-apps/openphoto
2. When asked for an email address enter something like henryk+turnkey-openphoto@ploetzli.ch

### Actual results:
You'll receive an Error "Email is not valid"

### Expected results:
This address is valid and should have been accepted.

### Further information:
RFC 2822 section 3.4.1 gives the syntax definition for email addresses. All of the following are valid addresses (none of these are accepted by the regex):
* "Foo Bar"@ploetzli.ch
* Ronald@washington.mcdonalds (see https://gtldresult.icann.org/application-result/applicationstatus/applicationdetails/358)
* em@il (TLDs may have A or MX records, too)

(Also, somewhat bizarrely, this is not a valid address: foo..bar@ploetzli.ch)

### Suggested fix:
Even though it is possible to build a regular expression for email address in principle, there isn't much value in that in this case. It's the user's responsibility to enter a correct value. The only thing that can easily and meaningfully be checked is that there's an @, there is a non-empty string before and after, and no white-space after.

```python
email_re = re.compile(r"(?:^|\s).*\S@\S+(?:\s|$)",re.IGNORECASE)
```


As far as I can tell, this works and is a fair solution.